:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.country-image {
  width: 200px;
  height: 100px;
  /* border-radius: 20px; */
  display: block;
  margin: 20px auto;
  /* padding: 10px; */
  border: 1px solid;
  border-radius: 10px;
}

.country-card {
  /* border: 1px solid; */
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(2, 78, 177, 0.295);
}

.title {
  font-size: 1rem;
  width: 300px;
}

button {
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

button:hover {
  background-color: cadetblue;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.big-title{
  text-align: center;
  
}

.visited-btn{
  background-color: cadetblue;
}

.flex{
  display: flex;
  gap: 20px;
  align-items: center;
}

.sm-img{
  height: 15px;
  width: 30px;
}

.lic{
  width: px;
}